# Important Links

Space Challenges: [https://space-ctfd.apps.{{ control_cluster }}](https://space-ctfd.apps.{{ control_cluster}})

OpenShift console: [https://console-openshift-console.apps.{{ player_cluster }}](https://console-openshift-console.apps.{{ player_cluster }})

Gitea: [https://gitea-gitea.apps.{{ player_cluster }}](https://gitea-gitea.apps.{{ player_cluster }})

---

# Astronaut Training

## Introduction

Surviving and thriving in outer space will require some critical
OpenShift skills; most importantly, building, deploying and modifying
applications.

The following instructions are intended to get you past the ship's
*Warm Up* challenges.

---

## Table of Contents

1. [Step 1: Deploy a container from an image](#step-1-deploy-a-container-from-an-image)
1. [Step 2: Prepare your personal application repo](#step-2-prepare-your-personal-application-repo)
2. [Step 3: Build and deploy in OpenShift](#step-3-build-and-deploy-in-openshift)
3. [Step 4: Modifying your application](#step-3-modifying-your-application)

---

## Step 1: Deploy a container from an image

The first thing we'll do is deploy an application into OpenShift from a pre-built container image.
First, you'll need to login to the OpenShift console using your game credentials.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic1_shadow.png" alt="drawing" width="700"/></p>

You're now looking at the *Developer Perspective* of the OCP console.  You can go through the tour if you like, or just `Skip tour`.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic2_shadow.png" alt="drawing" width="700"/></p>

You have an OpenShift project assigned to you already.  In this case,  we are `player1`.  Select the `player1` project from this list.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic3_shadow.png" alt="drawing" width="700"/></p>

The *Add* page provides many options for adding application resources
to your project namespace.  We're going to use the `Container images`
option to create a container pod from a pre-built container image.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic7_shadow.png" alt="drawing" width="700"/></p>

Enter the image name, in this case `quay.io/atgreen0/ship_api:latest`.
This is the ship's API service image, and it is hosted in the public
`quay.io` registry.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic8_shadow.png" alt="drawing" width="700"/></p>

Click on the `Create` button to pull the image, and create the
container pod.  You will soon see OpenShift's "Topology" view for your
namespace, with the fully deployed container.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic9_shadow.png" alt="drawing" width="700"/></p>

Clicking on `ship` label beneath the openshift logo for your
application will bring up `Deployment` details on the right.

From here you can see:
* the list of builds and their logs.
* the list of deployed pods.
* active routes for ingress.
* a link to the actual Deployment or DeploymentConfig (the blue `D` at the top)

Each one of these links take you to different parts of the OpenShift
console for accessing information, editing settings, and controlling
your application.  Take some time to explore them, while remembering
that you can always get back to the Topology view by using the sidebar
on the left.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic10_shadow.png" alt="drawing" width="700"/></p>

Clicking on the arrow on the top right of the openshift logo for you
application will take you to the `Route` URL for your application.
Note that the default endpoint, `\`, will present you with a 404
error.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic11_shadow.png" alt="drawing" width="700"/></p>

---

## Step 2: Prepare your personal application repo

The `starter` account at
https://gitea-gitea.apps.{{ player_cluster }}/starter
includes a number of starter application repos.  We'll be using the
python starter app for the purposes of these instructions.

First you'll need to connect to gitea and login using your game
credentials.   The `Sign in` button is on the top right of the screen.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic13_shadow.png" alt="drawing" width="700"/></p>

Once you log in, you'll be looking at your gitea account contents.  Of
course, there are no git repos in your account yet.  We will have to
fork one of the starter repos in here.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic15_shadow.png" alt="drawing" width="700"/></p>

Go to the `starter` account at https://gitea-gitea.apps.{{ player_cluster }}/starter to
see the list of available choices.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic16_shadow.png" alt="drawing" width="700"/></p>

Select the `Python starter` application to view the repo contents.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic17_shadow.png" alt="drawing" width="700"/></p>

We need to fork this repo into your own account, by selecting the `Fork` button near the top right of the page.  Finalize the action by selecting the `Fork repository` button.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic18_shadow.png" alt="drawing" width="700"/></p>

Now that it's forked, you'll see a copy of the repo in your own
account.  Copy the `HTTPS` URL for this project, as we'll need it for
the next step.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic19_shadow.png" alt="drawing" width="700"/></p>

---

## Step 3: Build and deploy in OpenShift

Return to the `Add` page in OpenShift, and this time select `Import from Git` this time.   Paste your personal `Python starter` URL into `Git Repo URL` field.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic20_shadow.png" alt="drawing" width="700"/></p>

Scroll down and select the `Python` builder image to tell OpenShift that this is a git repo for a python application.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic21_shadow.png" alt="drawing" width="700"/></p>

Keep scrolling down and enter the name `hello` before selecting the `Create` button.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic23_shadow.png" alt="drawing" width="700"/></p>

Now, back on the `Topology` view, you should see the new `hello`
deployment.  On the right hand side you'll see the list of application
`Builds`, as we are building from source code.  Explore the build logs
to see how the application container is built.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic24_shadow.png" alt="drawing" width="700"/></p>

You may see `ImagePullbackErrors` errors as OpenShift attempts to
deploy before the first container image is built.  You can always
force a new deployment by selecting `Restart rollout` from the
three-dot menu to the right of deployment name underneath you
application icon.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic25_shadow.png" alt="drawing" width="700"/></p>

---

## Step 4: Modifying your application

You may find that you will want to modify the applications you've
built from source.  Fortunately, gitea includes a built-in editor for
you to edit your code and commit changes straight from your browser.

First, go back to the `python-starter` repo in your personal gitea account and select the `app.py` file.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic27_shadow.png" alt="drawing" width="700"/></p>

Now that you see the `app.py` source code, select the pen icon near the top right of your code windows.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic28_shadow.png" alt="drawing" width="700"/></p>

This will take you to the python code editor.  Make whatever changes you deem neccesary

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic29_shadow.png" alt="drawing" width="700"/></p>

Scroll down to see the `Commit Changes` button.  Select this.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic30_shadow.png" alt="drawing" width="700"/></p>

Now return to the OpenShift `Topology` view and select `Start Build`
in the `Builds` section.  This will pull your new code from gitea and
create a new container image with these changes.

<p align="center"><img src="https://gitea-gitea.apps.{{ player_cluster }}/starter/INSTRUCTIONS/raw/branch/master/images1/pic31_shadow.png" alt="drawing" width="700"/></p>

One built, you can deploy the new image by selecting `Restart rollout`
as described above, or just deleting the current pod by clicking on it
from the `Topology` view and (mid-image, above), and selecting `Delete Pod`
from the `Actions` menu on the top right.

---
